# Folders
figures/

# Jupyter Notebook
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so

# Idea files
.idea

# Images
*.jpg
*.jpeg
*.png
*.bmp
