# Folders
analysis_code-master/
data/
deliver/
figures/
raw_data/
simulation/

# Jupyter Notebook
.ipynb_checkpoints/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# C extensions
*.so

# Idea files
.idea